<div class="container bg-image" [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <app-video-modal *ngIf="showModal" (closeModalEvent)="closeModal()" [movieId]="movieID"></app-video-modal>

  <div class="left-container">
    <h1> {{data?.title}}</h1>
    <div class="informLine">
      <span>{{data?.rating}} | </span>
      <span> Year: {{data?.year}}</span>
    </div>
    <div class="Overview">
      <p>{{data?.overview}}</p>
    </div>
    <div class="hpContainer">
      <span>Homepage: </span><a [attr.href]="data?.homepage" [attr.src]="data?.homepage">{{data?.homepage}}</a>
    </div>
    <div class="buttons">
      <button class="btn btn-secondary">PLAY NOW</button>
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="openModal()">TRAILER</button>
    </div>
  </div>
  <div class="right-container">
    <p>Poster:</p>
    <div class="posters">
      <img *ngFor="let poster of imageList | slice:0:5;" [src]="poster">
    </div>
    <p>Credits:</p>
    <div class="credits">
      <div class="credit-box" *ngFor="let actor of credits | slice:0:9">
        <img [src]="actor.profile">
        <p class="character">{{ actor.char }}</p>
        <p class="name">{{ actor.name }}</p>

      </div>
    </div>
  </div>
</div>
